<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907429473506-5tmvpdvlf50j7mus3ls0hj15tphi2c0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907429473506-5tmvpdvlf50j7mus3ls0hj15tphi2c0q</string>
	<key>API_KEY</key>
	<string>AIzaSyAExctA9tWM-lC6pxCP9sn9KZxAuUh3x_k</string>
	<key>GCM_SENDER_ID</key>
	<string>907429473506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaehee.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-eebdd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-eebdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907429473506:ios:98d835b2fb2904d9b1c2bb</string>
</dict>
</plist>